h1{
    color: white

}
h2{ color: white

}
p{
    color: white
}

body{ 
    
    background-color: rgb(199, 104, 199);

}
body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  max-width: 800px;
  white-space: normal;
  word-wrap: break-word;
}